@import url('https://fonts.googleapis.com/css2?family=Arima:wght@600&family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
}


body {
    font-family: 'Montserrat';
    background-color: #f0f0f0;

}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 50px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.logo {
  font-size: 18px; 
  color: #ccc;
  padding-left: 220px;
  font-weight: bold;
}

nav {
  display: flex;
  gap: 80px;
  padding-right: 290px;
  margin-bottom: 5px;
}

nav a {
  color: #ccc;
  font-weight: 500;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  transition: color 0.3s ease;
}

nav a:hover {
  color: black;
}

header h1 {
  font-size: 27px;
}


body.scrolled header {
  top: -100px;/
}

a {
    color: #ccc;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
}


body{
    background:#000;
  }
  
  .container{
    background-image: url(Imagens/djavanFundo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin:auto;
    outline:1px solid #111;
    overflow: hidden;
    transition: all ease-in-out 1s;
    height: 850px;
    width: 100%;
    margin-top: 0;
    background-attachment: fixed;
  }
  
  .nomebox{
    display: flex;
    color: #ccc;
    text-transform:lowercase;
    text-align: center;
    top: 85px;
    width: 400px;
    height: 550px;
    margin: auto;
    position: relative;
    justify-content: center;
    align-items: center;
  }
  
  .titulo1{
    font-family: 'Bebas Neue', cursive;
    font-size: 250px;
    position: relative;
    left:-60px;
    transition: all ease-in-out 0.9s;
    transition-delay: 0.8s;
  }
  
  .titulo2{
    font-family: 'Bebas Neue', cursive;
    font-size: 250px;
    position: relative;
    right: -30px;
    transition: all ease-in-out 0.8s;
    transition-delay: 0.8s;
  }
  
  .container:hover .titulo1{
    left: -450px;
    transition: all ease-in-out 0.8s;
  }
  
  .container:hover .titulo2{
    right: -450px;
    transition: all ease-in-out 0.8s;
  }
  
  .container:hover{
    background-image: url(Imagens/djavanFundo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: all ease-in-out 1s;
    background-attachment: fixed;
  }
  
  .box-principal{
    width: 800px;
    height: 550px;
    position: relative;
    top: -450px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat';
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing:1px;
  }
  
  
  
  
  .musicbox {
    width: 40%; 
    max-width: 1200px;  
    height: auto; 
    background: rgba(0,0,0,0.6);
    margin: 0 auto; 
    padding: 40px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    bottom: 1200px;
    transition: all ease-in-out 0.8s;
    margin-left: 690px;
    color: white;
}

.container:hover .musicbox {
    bottom: 0px;
    transition: all ease-in-out 0.8s;
    transition-delay: 0.8s;
}
  
  
  .musica{
    width: 240px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background:rgba(0,0,0,0.4);
    padding:4px;
    line-height: 10px;
  }
  
  .container:hover .datosmox{
    top: 0px;
    transition: all ease-in-out 0.8s;
    transition-delay: 0.8s;
  }
  
  .musica i{
    font-size: 20px;
    color: #ccc;
    padding:10px;
  }
  
  .musica a:hover{
    color: white;
    transition: all ease-in-out 0.3s;
  }
  
  .musica a{
    width: 70px;
    font-size: 11px;
    font-weight: 700;
    color:  #ccc;
    border:0;
    text-decoration: none;
    transition: all ease-in-out 0.3s;
  }
  
  .musica m{
    font-size: 11px;
    color: #999;
    margin-left: 5px;
    display: flex;
  }
  
  .musica m:before{
    content: '/';
    font-weight: 700;
    color: #FBFEF9;
    margin-right: 10px;
  }
  
  
  .subtitulo{
    font-family: 'Arima';
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 6px;
    color: #ccc;
    position: relative;
    top: -750px;
    text-align: center;
    line-height: 10px;
    transition: all ease-in-out 0.8s;
    transition-delay: 1s;
    top: 45px;
  }
  
  .container:hover .subtitulo{
    filter:blur(10px);
    opacity:0;
    transition: all ease-in-out 0.8s;
  }

.pictures{
  height: 55vh;
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.slider{
  margin: 0 auto;
  width: 800px;
  height: 400px;
  overflow: hidden;
}

.slides{
  width: 400%;
  height: 400px;
  display: flex;
}

.slides input {
  display: none;
}

.slide{
  width: 25%;
  position: relative;

}

.slide img{
  width: 800px;
}

.manual-navigation{
  position: absolute;
  width: 800px;
  margin-top: -20px;
  display: flex;
  justify-content: center;
}

.manual-btn{
  border: 2px solid #50080b;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child){
  margin-right: 40px;
}

.manual-btn:hover{
  background-color: #000;
}

#radio1:checked ~ .first{
  margin-left: 0;
}

#radio2:checked ~ .first{
  margin-left: -25%;
}

#radio3:checked ~ .first{
  margin-left: -50%;
}

#radio4:checked ~ .first{
  margin-left: -75%;
}



.frase {
  font-family: Arial, Helvetica, sans-serif;
  color: #ccc;
  background-color: #50080b;
  height: 180px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

title{
  color: #50080b;
}



.ods {
  margin-top: 55px;
  display: flex;
  justify-content: center;
  background-color: black;
}

.container-ods {
  max-width: 1200px;
  width: 100%;
  text-align: center;
}

.headline-ods h2 {
  font-size: 2.5rem;
  color: #ccc;
  margin-bottom: 3rem;
}


.conteudo-ods {
  display: flex;
  gap: 7.5rem;
  flex-wrap: wrap;
  justify-content: center;
}

.box-ods {
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
  padding: 1.5rem;
  width: 300px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
    display: flex;
    align-items: center;
    flex-direction: column;

}

.box-ods:hover {
  transform: scale(1.05);
}

.box-ods img {
  width: 80px;
  height: 80px;
}

.box-ods h3 {
  font-size: 1.5rem;
  color: white;
  margin: 0.5rem;
}

.box-ods p {
  color: white;
  font-size: 1rem;
  line-height: 1.5;
}

#box-ods1 {
  background-color: #50080b;
}

#box-ods2 {
  background-color: #50080b;
}

#box-ods3 {
  background-color: #50080b;
}


.discografia {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 450px;
  position: relative;
  background-color: #50080b;
  margin-top: 25px;
}

.cards-container {
  display: flex;
  padding-block: 5rem;
  overflow: hidden;
  width: 80%;
}

.card-content {
  display: flex;
  transition: transform 0.5s ease;
}

.card-content h1{
  color: #ccc;
  font-size: 55px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.card-article {
  min-width: 300px;
  height: 400px;
  margin-inline: 1.75rem;
  border-radius: 1.25rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-size: cover;
  background-position: center;
}

.card-data {
  background-color: #000;
  color: white;
  padding: 1rem;
  text-align: center;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  cursor: pointer;
  color: #000;
}

.arrow-left {
  left: 1rem;
}

.arrow-right {
  right: 1rem;
}

.footer{
  background:#000;
  padding:30px 0px;
  font-family: 'Play', sans-serif;
  text-align:center;
  }
  
  .footer .row{
  width:100%;
  margin:1% 0%;
  padding:0.6% 0%;
  color:gray;
  font-size:0.8em;
  }
  
  .footer .row a{
  text-decoration:none;
  color:gray;
  transition:0.5s;
  }
  
  .footer .row a:hover{
  color:#fff;
  }
  
  .footer .row ul{
  width:100%;
  }
  
  .footer .row ul li{
  display:inline-block;
  margin:0px 30px;
  }
  
  .footer .row a i{
  font-size:2em;
  margin:0% 1%;
  }
  
  @media (max-width:720px){
  .footer{
  text-align:left;
  padding:5%;
  }
  .footer .row ul li{
  display:block;
  margin:10px 0px;
  text-align:left;
  }
  .footer .row a i{
  margin:0% 3%;
  }
  }


