@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');


body {
  margin: 0;
  padding: 0;
  display: flex; 
  font-family: 'Roboto', sans-serif;
  background-color: #50080b;
}

#menu {
  z-index: 2;
}

#menu-bar {
  width: 45px;
  height: 40px;
  margin: 30px 0 20px 20px;
  cursor: pointer;
}

.bar {
  height: 5px;
  width: 100%;
  background-color: #ffff;
  display: block;
  border-radius: 5px;
  transition: 0.3s ease;
}

#bar1 {
  transform: translateY(-4px);
}

#bar3 {
  transform: translateY(4px);
}

.nav {
  transition: 0.3s ease;
  display: none;
}

.nav ul {
  padding: 0 22px;
}

.nav li {
  list-style: none;
  padding: 12px 0;
}

.nav li a {
  color: white;
  font-size: 20px;
  text-decoration: none;
}

.nav li a:hover {
  font-weight: bold;
}

.menu-bg, #menu {
  top: 0;
  left: 0;
  position: absolute;
}

.menu-bg {
  z-index: 1;
  width: 0;
  height: 0;
  margin: 30px 0 20px 20px;
  background: radial-gradient(circle, #50080b, #50080b);
  border-radius: 50%;
  transition: 0.3s ease;
}

.change {
  display: block;
}

.change .bar {
  background-color: white;
}

.change #bar1 {
  transform: translateY(4px) rotateZ(-45deg);
}

.change #bar2 {
  opacity: 0;
}

.change #bar3 {
  transform: translateY(-6px) rotateZ(45deg);
}

.change-bg {
  width: 525px;
  height: 525px;
  transform: translate(-60%,-30%);
}

.dash {
  color: white;
  margin-left: 7%;
  width: 100%;
  overflow: auto;
  display: flex; 
  font-family: 'Montserrat', sans-serif;
  flex-direction: column;
}

.tela-grafico {
  width: 100%;
  max-width: 1200px;
  border-radius: 12px;
  padding: 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  justify-content: space-between;
}

.area-grafica{
  width: 78vw;
  height: 50vh;
  display: flex;
}

.card-grafico {
  width: 50%;
  height: 90%;
}

.dados-grafico .titulo-grafico {
  width: 90%;
  height: 10%;
}

.card-grafico .titulo-grafico {
  width: 90%;
  height: 10%;
}

.kpi-grafico {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  flex-wrap: wrap; 
}

/* Voce faz a alteração que você quiser da área do título */
.titulo-grafico {
  height: 60px;
  width: 100%;
}

.kpi1, .kpi2, .kpi3, .kpi4, .kpi5, .kpi6 {
  background-color: #fff;
  padding: 30px;
  border-radius: 5px;
  width: 22%; 
  margin-bottom: 30px;
  text-align: center;
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.4), 0 4px 12px rgba(255, 255, 255, 0.3);
  transition: all 0.3s ease;
  height: 150px; 
  color: black;
}

.kpi6 li {
  text-decoration: none;
  list-style: none;
}


.kpi1 span:first-child, .kpi2 span:first-child, .kpi3 span:first-child, .kpi4 span:first-child, .kpi5 span:first-child, .kpi6 span:first-child {
  font-weight: bold;
}

#top3Pontuadores {
  list-style-type: none; 
  padding: 0;
  margin: 0;
}

#top3Pontuadores li {
  margin-bottom: 5px; 
}

#top3PontuadoresComplete {
  margin: 0;
  padding: 0;
}



.titulo-grafico p {
  font-size: 20px;
  margin-bottom: 20px;
}

.titulo-grafico-secundario p {
  font-size: 18px; 
  margin-top: 20px; 
  margin-bottom: 10px; 
  color: #ccc; 
  font-style: italic;
}




.dados-grafico {
  display: flex; 
  justify-content: space-between; 
  flex-wrap: wrap; 
  width: 50%;
  height: 90%;
  gap: 20px; 
}

.grafico2 {
  display: flex;
  justify-content: center; 
  gap: 30px; 
  flex-wrap: wrap; 
  width: 100%;
  max-width: 1200px; 
  margin: auto; 
  color: white;
}

.grafico2 > div {
  flex: 1;
  max-width: 500px; 
  min-width: 300px; 
}

canvas {
  width: 100% !important; 
  max-width: 500px; 
  height: 310px !important; 
  background-color: #fff;
  border-radius: 5px;
  padding: 22px;
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.4), 0 4px 12px rgba(255, 255, 255, 0.3);
  transition: all 0.3s ease;
}