@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background: url(../Imagens/fundoBranco.jpg);
    color: #000000;
    margin: 0;
    padding: 20px;
  }
  .container {
    max-width: 600px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  h1, h2 {
    text-align: center;
    color: #50080B;
  }
  .question {
    margin-bottom: 15px;
  }
  .result {
    margin-top: 20px;
    padding: 10px;
    background-color: #eaeaea;
    border-radius: 5px;
  }
  button {
    padding: 10px 20px;
    background-color: #50080B;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  button:hover {
    background-color: #7a0e12;
  }

  select {
    width: 200px;
    padding: 10px;
    border: 2px solid #50080B;
    border-radius: 5px;
    background-color: #f9f9f9;
    color: #000000;
    font-size: 16px;
    cursor: pointer;
  }